<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MabiPacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MabiPacker.Properties.Settings>
            <setting name="LastDataDir" serializeAs="String">
                <value>C:\Nexon\Mabinogi\data</value>
            </setting>
            <setting name="LastPackFile" serializeAs="String">
                <value>C:\Nexon\Mabinogi\Package\custom.pack</value>
            </setting>
            <setting name="LastPackVer" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CompressLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </MabiPacker.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
